header {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30pt;
   }
   

body {
    background-color: rgb(108, 54, 157);
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}