header {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30pt;
   }
   
   .d-flex {
       size: 5pt;
       
     } 
   
   
   body {
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       background-color: rgb(108, 54, 157);
      
   }
   